<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="../static/styles/cadclientes.css">
    
</head>
<nav>
    <ul>
        <li>
            <a href="/consusuarios">CONSULTA USUARIOS</a>
        </li>
        
        <li>
            <a href="/cadclientes">CADASTRO CLIENTES</a>
        </li>

        <li>
            <a href="/cadfornecedor">CADASTRO FORNECEDORES</a>
        </li>

        <li>
            <a href="/consuclientes">CONSULTAR CLIENTES</a>
        </li>

        <li>
            <a href="/consufornece">CONSULTAR FORNECEDORES</a>
        </li>
        <li>
            <a href="/logout">
                <img class="logout" src="/static/assets/logout-removebg-preview.png" alt="">
            </a>
        </li>
    </ul>
    <img src="/static/assets/avatar/{{ l[4] }}" class="avatar" alt="" width="40px">

</nav>
<body>
    <div class="video-background">
        <img src="/static/assets/chihiro.jpeg" alt="">
    </div>
        
    <div class="cad">
        <h1 class="cadastre">CADASTRE O CLIENTE</h1>
        <form action="/cadclientes" method="POST">
            <label for="nome_completo"></label>
            <input type="text" name="nome_completo" id="nome_completo" placeholder="Nome completo" required>
            <br>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <br>
            <label for="telefone"></label>
            <input type="tel" name="telefone" id="telefone" placeholder="Telefone" required>
            <br>
            <label for="ende_rua"></label>
            <input type="text" name="ende_rua" id="ende_rua" placeholder="Rua" required>
            <br>
            <label for="ende_num"></label>
            <input type="number" name="ende_num" id="ende_num" placeholder="N°" required>
            <br>
            <label for="ende_cidade"></label>
            <input type="text" name="ende_cidade" id="ende_cidade" placeholder="Cidade" required>
            <br>
            <label for="ende_estado"></label>
            <input type="text" name="ende_estado" id="ende_estado" placeholder="Estado" required>
            <br>
            <label for="ende_cep"></label>
            <input type="text" name="ende_cep" id="ende_cep" placeholder="CEP" required>
            <br>
            <label for="data_cadastro"></label>
            <input type="date" name="data_cadastro" id="data_cadastro" required>
            <br>
            <label for="cpf"></label>
            <input type="text" name="cpf" id="cpf" placeholder="CPF" required>
            <br>
            
            <div class="botao">
                <button type="submit">Cadastrar</button>
            </div>

        </form>


    
    </div>
    
</body>
</html>

