<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
<div class="geral">
    <div class="bloco1">
        <div class="imagens">
            <img src="../static/assets/estrela.png" alt="" class="estrela">
            <img src="../static/assets/estrela2.png" alt="" class="estrela2">
        </div>
        <div class="nome1">
            <h1>Ghibli</h1>
        </div>
    
        <div class="nome2">
            <h1>Plush</h1>
        </div>

        <div class="gigi"> <img src="/static/assets/gigi1.png" alt="gigi"></div>

    
        <div class="imgs">
            <img src="/static/assets/totoro.png" alt="totoro" name="totoro" width="330px">
            <img src="/static/assets/ponyo.png" alt="ponyo" width="330px">
            <img src="/static/assets/calcifer.png" alt="calcifer" width="330px">
        </div>
        <div class="frase"><h1>A magia dos seus personagens favoritos, em pelúcia e carinho!</h1></div>
    </div>


    <div class="bloco2" >
        <h1>LOGIN</h1>
        <form action="/login" method="POST">
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" placeholder="Usuário" required>
            <br>
            <label for="senha"></label>
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <br>
            <br>
            <div class="botao">
                <button type="submit">Entrar</button>
            </div>
            <div class="link">
                <a href="/cadusu">Cadastre-se já</a>
            </div>
        </form>


    </div>
</div>
    
</body>
</html>